.App {
  text-align: center;
  margin:auto;
  margin-top: 10vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.button {
  height: 60px;
  background-color: #ffde7c;
  border: none;
  color: black;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 3px 70px;
  cursor: pointer;
}

.button2 {
  background-color: #ffde7c;
  border: none;
  color: black;
  width: 120px;
  padding: 20px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
}

.introduction {
  color:black;
  text-align: center;
  display: inline-block;
  width:60vw;
  margin: 30px;
  padding: 40px;
  vertical-align: text-top;
}

input[type=text], select {
  width: 50em;
  padding: 20px 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 80px;
  margin-bottom: 10px;
}
input[type=text2], select {
  width: 35em;
  padding: 18px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 80px;
  margin-bottom: 10px;
}

.menu {
  display: inline-block;
  border-radius: 0px;
  box-sizing: border-box;
  padding-right: 0px;
  margin-bottom: 2em;
}

table {
  width: 90%;
  margin-left: 7%;
  margin-right: 7%;
}
td {
  border-top: 1px solid black;
  border-collapse: collapse;
  padding-top: 2em;
  padding-bottom: 2em;
}

ol, ul {
  padding-left: 30px;
}

.results {
  margin-bottom: 5em;
}

.status {
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
